<% provide(:title, 'Create New church Group') %>

<h1 style="padding-left: 0px"><span class="label label-default" style="padding-left:20px">Create New Church Group</span></h1>

<div>
  <div>
    <%= form_for(@church_group) do |f| %>
 <div class="form-group">
    
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Name" %>
</div>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>