<%= @user.name.split(" ")[0] %> <% if @user != @leader %> & <%= @leader.name.split(" ")[0] %> <% end %>,

You have missed the Sunday 9pm deadline for the weekly data submission of <%= @church.name %>. Remember it is your responsibility to ensure this deadline is consistently met. This missing record is currently causing issues on our batch data processing run. 

This is a serious issue so please rectify it immediately by taking a minute to fill out a new data record. Let us know if there are any issues preventing you from completing this task.

You can respond to (<a href="mailto:info@flcrevelations.co.uk">info@flcrevelations.co.uk</a>) with any questions.


 Thanks!


 - FLC Revelations UK 