<% provide(:title, "Campus Churches") %>

<div class="container">
  <div class="section_heading global" >
    <h3> <%= params[:group] if params[:group] %> Churches </h3>
  </div>
  <%= render 'church_list' %>
</div>
                  

  




