<div class="jumbotron">
  <h1>Thanks For Logging In</h1>
  <p>Welcome to the FLC Data App! </p>
  <p>All data should now have been submitted for <b><%= @date %></b></p>
  <p><%= link_to "View Data", records_path, class: "btn btn-primary btn-lg" %></p>
</div>

<% if current_user.admin %>
<% if @users.empty? %>
  <div class="list-group">
  <li class="list-group-item list-group-item-success">All Churches Have Submitted Data for <%= @date %></li>
</div>
  <% else %>
  <div class="list-group">
  	
  <%= link_to "Missing #{@date} Data For #{pluralize(@users.count, "Church")}", show_nots_path, class: "list-group-item list-group-item-danger" %>
  <% end %>
</div>
<% end %>





