// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group-item{
padding-left: 20px
}

.page_heading{
	padding-left: 20px
}

.dl-horizontal {
	padding-top: 40px;
	vertical-alignment: center;
}

.danger >.link_text{
	color: #000000
}